{%extends "base.html" %}
{% block title%}Commands {% endblock %}
{% block content%} 
<h3 class="commands-h3">Commands You Can Request from Jarvis</h3>
<div id="input-commands">
    <ul>
        <li><strong>Greet Jarvis:</strong> <em>Hello Jarvis, how are you?</em></li>
        <li><strong>Start Coding Mode:</strong> <em>Jarvis, initiate coding mode.</em></li>
        <li><strong>Open Social Media:</strong> 
            <ul>
                <li><em>Open Facebook</em></li>
                <li><em>Open YouTube</em></li>
                <li><em>Open LinkedIn</em></li>
            </ul>
        </li>
        <li><strong>Open Search Engine:</strong> <em>Open Google</em></li>
        <li><strong>Access Email:</strong> <em>Open Email</em></li>
    </ul>
</div>


{% endblock %}